*.log
.DS_Store

# Environment files
.env
.env.backup
.env.production

# Laravel / PHP
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Node
/node_modules

# Hardhat
/cache
/artifacts

# TypeChain
/typechain
/typechain-types

# Solidity Coverage
/coverage
/coverage.json

# Hardhat Ignition
ignition/deployments/chain-31337